*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:10px ;
}

body{
  font-size:1.6rem;
}
:root{
  --primary-purple-color:#C490E4;
  --primary-light-purple:#F6C6EA;
  --secondary-light-purple:#c8b6ff;
  --primary-background-blue:#E8F9FF;
  --secondary-background-blue:#F2F9FF;
  --secondary-bluish-color:#a2d2ff;
  --secondary-another-bluish-color:#AFDDFF;
  --secondary-very-light-blue:#e2eafc;
  --primary-black-color:#000000;
  --primary-font-family:"Lexend", sans-serif;
  --secondary1-font-family: "Dancing Script", cursive;
  --secondary-font-family:"DM Serif Display", serif;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 13rem;
  position:relative;
  background-color: var(--secondary-very-light-blue);
}

.header-logo{
  height: 10rem;
  width: 13rem;
  margin-left:2rem;
  position:relative;
  /*border:2px solid red;*/
}
.header-logo img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 7rem;
}

.header-list-item a{
  text-decoration: none;
  text-transform:capitalize;
  color: var(--primary-black-color);
  font-size: large;
}
.ctabtn{
  text-decoration: none;
  text-transform:capitalize;
  margin-left:28rem;
  margin-right:5rem;
  background-color: var(--secondary-another-bluish-color);
  padding:1rem 2rem;
  border-radius: .8rem;
  color: var(--primary-black-color);
  font-size:large;
}

.ctabtn:hover{
  background-color: var(--secondary-bluish-color) ;
}

.hero-section{
  display:flex;
  position:relative;
  justify-content: space-between;
  background-color: var(--secondary-background-blue);
}
.hero-title{
  margin-top:5rem;
  margin-left: 5rem;
  width:50rem;
  align-items: center;
  text-align: justify;
}
.hero-title .title{
  font-family: var(--secondary-font-family);
  font-weight:900;
  font-size: 8rem;
  text-transform:uppercase;
  padding:5rem;
}
.hero-title.description{
  font-weight: 100;
  font-family: var(--secondary1-font-family);

}
.hero-images{
  width:60rem;
  height:70rem;
  position:relative;
}

.hero-images-item{
 height:55%;

  justify-content: space-between;
  display:block;
  position:relative;
}
.hero-images-item2{
  height:45%;

}

.hero-images-item img{
  width:100%;
  height:100%;
  object-fit: cover;
  /*clip-path: polygon(70% 0%, 100% 60%, 30% 100%, 1% 40%);*/
  clip-path: polygon(69% 0, 98% 51%, 27% 100%, 1% 46%);
  transform: scale(1.0);

  
}
.hero-images-item2 img{
  width:100%;
  height:100%;
  object-fit: cover;
  clip-path: polygon(69% 0, 98% 51%, 27% 100%, 1% 46%);
  transform:scale(1.0);
  overflow:hidden;
}

.houses-section{
  display:flex;
  /*height:100vh;*/
  flex-wrap:wrap;
  position:relative;
  margin-top:5rem;
  /*border:2px solid red;*/

}

.houses-section-header{
  /*border:2px solid green;*/
  height:10rem;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-very-light-blue);
}
.houses-section-header h2{
  text-transform: capitalize;
  font-family: var(--secondary-font-family);
  font-size: 5rem;  
}


.houses-card{
  height:57rem;
  justify-content: center;
  width:35rem;
  position:relative;
  margin-top:8rem;
  margin-left:5rem;
  /*border:2px solid red;*/
  background-color: var(--secondary-very-light-blue);
  padding-bottom:2rem;
  margin-bottom:4rem;
  border-radius:2rem;
  transition:transform 0.4 ease;
}
.houses-card:hover{
  transform:scale(1.1);
}
.houses-card-item{
  height:40rem;
  position:relative;
  display:column;
  /*border:2px solid blue;*/
}
.houses-card-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 2rem;
  transition: transform 0.4s ease;
}


.houses-card-item img:hover{
  transform:scale(1.1)
}

.house-card-item-text{
  height:15rem;
  text-transform: capitalize;
  font-family: var(--primary-font-family);
  font-weight: 200;
  /*border:2px solid red;*/
}
.house-card-item-text .paragraph{
  /*border:2px solid red;*/
  height:9rem;
  text-align: center;
  text-align: center;

}
.house-card-item-header{
  display:flex;
  justify-content: space-between;
  margin-left:1rem;
  /*border:2px solid green;*/
  height:5rem;
  text-wrap: wrap;
  align-items: center;
  
}
.house-card-item-header h3{
  font-weight: 900;
  font-family: var(--secondary1-font-family);
}
.house-card-item-header p{
  font-family: var(--secondary-font-family);
  margin-right:1rem;
}

.houses-card2 .houses-unicode{
/*border:2px solid red;*/
text-wrap: wrap;
margin-left:5rem;
margin-top:9rem;
width:75rem;
}
.houses-unicode{
  height:55rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.houses-unicode span{
  font-size: 35rem;
  color:var(--secondary-another-bluish-color)
}
.houses-unicode div h4{
  text-transform: capitalize;
  text-decoration: underline;
  margin-top: 55%;
  font-size: 2.5rem;
  font-family: var(--secondary1-font-family);
}
h4::first-letter{
  text-transform:capitalize;
  font-size: 6rem;
}

.amenities-section{
  /*border:2px solid red;*/
  margin-top: 6rem;
  position:relative;
  max-height:100vh;
  background-color: var(--secondary-background-blue);
}

.amenities-section-header{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  /*border:2px solid red;*/
  height:10rem;
  background-color: var(--secondary-very-light-blue);
}
.amenities-section-header h1{
  text-transform: capitalize;
  font-family: var(--secondary-font-family);
  font-size: 5rem;
}

.amenities-list{
  /*border:2px solid green;*/
  max-height: 80vh;
  margin-left: 8rem;
  font-family: var(--primary-font-family);
  font-size: 3rem;
  font-weight: 250;
  margin-top: 4rem;
}

.amenities-list li{
  margin-bottom: 2rem;
}

.realtors-section{
  margin:10rem 0;
  background-color: var(--primary-background-blue);
}

.realtors-section-header{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  position:relative;
  height:10rem;
  background-color: var(--secondary-very-light-blue);
}

.realtors-section-header h1{
  text-transform: capitalize;
  font-family: var(--secondary-font-family);
  font-size: 5rem;
}

.realtors-card{
  height:50rem;
  display:flex;
  /*border:2px solid green;*/
  margin-top: 5rem;
  position:relative;
  background-color: var(--primary-background-blue);
}

.realtors-card-item{
  /*border:2px solid red;*/
  width:55rem;
  margin:3rem;
  position: relative;
}

.realtors-card-wrapper{
  width:100%;
  height:28rem;
  /*border:2px solid blue;*/
  position:relative;
}
.realtors-card-wrapper img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: .8rem;
}

.realtors-card-text{
  width:100%;
  /*border:2px solid orange;*/
  margin-top:2rem;
  height:13rem;;
}

.realtors-card-text-header{
  width:100%;
  /*border:2px solid black;*/
  height:4rem;
  border-radius: 50rem;
  background-color: var(--secondary-another-bluish-color);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--secondary1-font-family);
  position: relative;
}

.realtors-card-text p{
  text-align: center;
  margin-top:1rem;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  font-weight: 250;
}

.form-section{
  width:100%;
  height:100vh;
  background-color: var(--secondary-background-blue)
  /*border: 2px solid red;*/
}
.form-section .form-header{
  /*border: 2px solid black;*/
  height:8rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-very-light-blue);
}

.form-section .form-header h2{
  font-family: var(--secondary-font-family);
  font-size: 5rem;
  text-transform: capitalize;
}

.input-form{
  height:80vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*border:2px solid blue;*/
  max-width:70rem;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:.5rem;
  position:relative;
  background-color:var(--secondary-another-bluish-color);
  border-radius: 10rem;
}

.input-form label{
  font-family: var(--primary-font-family);
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.form1{
  margin-top:2rem;
}

.input-form input{
  margin-left:14rem;
  width:45rem;
  height:5rem;
  border-radius: .8rem;
  text-align: start;
  font-size: 1.5rem;
  border:none;
  position: relative;
}

.input-form input::placeholder{
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size:1.5rem;
}

.input-form textarea::placeholder{
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size:1.5rem;
  text-align:center ;
}
.input-form input:hover{
  cursor:pointer;
}

.input-form input:focus{
  border:2px solid var(--secondary-another-bluish-color);
}
.input-form textarea{
  width:45rem;
  margin-left:14rem;
  border-radius: .8rem;
  margin: .5rem 0 1rem 14rem;
  font-size: 1.5rem;
  border:none;
}

.input-form button{
  width:15rem;
  height:6rem;
  margin-left: 40%;
  margin-top: 2rem;
  margin-bottom:2rem;
  border-radius: .6rem;
  background-color: var(--secondary-very-light-blue);
  border:none;
}
.input-form button:hover{
  background-color: var(--secondary-background-blue);
}

.footer-section{
  width:100%;
  background-color: var(--secondary-very-light-blue);
  margin-top: 5rem;
  /*border: 2px solid red;*/
}

.footer-text{
  /*border:2px solid blue;*/
  height:15rem;
  margin:3rem 5rem 0 5rem;
}

.footer-text h1{
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-size:6rem;
}

.footer-contacts{
  /*border: 2px solid black;*/
  display:flex;
  align-items: center;
  justify-content:center;
  gap:3rem;
  margin:.8rem 5rem .5rem 5rem;

}
.footer-contacts div{
  /*border:2px solid red;*/
  width:30rem;
  height:11rem;
  display:flex;
  flex-direction: column;
}
.footer-contacts-sections{
  /*border: 2px solid #C490E4;*/
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size:1.3rem;
  position:relative;
}

.footer-contacts-sections h3 {
  padding:1rem;
}

.footer-contacts-sections p{
  margin-left: 7rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size:1.9rem;
}
.footer-contacts-sections i{
  padding:1rem;
}

.footer-details{
  /*border: 2px solid orange;*/
  margin:0 5rem 1rem 5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:.6rem;
}

.footer-details .newsletter, .socials{
/*border:2px solid red;*/
width:50rem;
height:25rem;
margin: 0 2rem;
display:flex;
flex-direction: column;
gap:-0.1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}

.newsletter1{
  /*border:2px solid black;*/
  width:100%;
  height:12rem;
  display:flex;
  align-items: center;
  position:relative;
}

.newsletter1 input{
  height:4.5rem;
  width:80%;
  margin-bottom:5rem;
  position:relative;
  border-radius: 1.7rem;
  border: none;
}

.newsletter1 input::placeholder{
  padding-left:2rem;
}

.newsletter1 button{
  height:4.5rem;
  width:20%;
  border-radius: 1.7rem;
  margin-bottom:5rem;
  position: absolute;
  margin-left:29.9rem;
  border:none;
  background-color: var(--secondary-another-bluish-color);
}

.newsletter h2{
  font-family: var(--secondary-font-family);
  font-size: 5rem;
  text-transform: uppercase;
}

.socials1{
  /*border:2px solid black;*/
  width:100%;
  height:12rem;
  display:flex;
  align-items: center;
  position:relative;
}

.socials1 h2{
  font-family: var(--primary-font-family);
  font-size: 5rem;
  text-transform: uppercase;
}

.socials1-icons{
  display:flex;
  align-items: center;
  justify-content: start;
  gap:5rem;
  width:100%;
  height:6rem;
  /*border: 2px solid green;*/
  margin-bottom: 6rem;
  position:relative;
}

.socials1-icons i{
  width:6rem;
  height:6rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.5rem;
  color:var(--secondary-bluish-color);
  background-color: var(--primary-background-blue);
}

.copyright{
  /*border: 2px solid blue;*/
  text-align: center;
  text-transform: capitalize;
  background-color:var(--primary-black-color);
  font-family: var(--primary-font-family);
  color:whitesmoke;
  font-weight: 300;
  font-size:1.5rem;
}

